head
   include headFrag

body
   
   #vvid1
      video#vid1(preload='auto', loop='', muted='')

   #vvid2
      video#vid2(preload='auto',  loop='', muted='')

   script.
      depp.require(['hoverIntent', 'poly', 'mediaelement'], function() {
         console.log('vid?')
         vid()
      })
      
      function vid() {
      
         var player1 = new MediaElementPlayer('vid1', {
            pauseOtherPlayers: false,
            hideVideoControlsOnLoad: true,
            hideVideoControlsOnPause: true,
            controlsTimeoutMouseEnter: 500,
            controlsTimeoutMouseLeave: 200,
            success: function(media, node, instance) {
               console.log('ready10')
               instance.setSrc('small.mp4')
               instance.play()
            }//suc
         })//play
         $('#vvid1').hoverIntent(function(e){
            console.log(11)
            player1.setCurrentTime(0)
            player1.play()
         }, function(e){
            console.log(10)
            player1.pause()
         })

         var player2 = new MediaElementPlayer('vid2', {
            pauseOtherPlayers: false,
            hideVideoControlsOnLoad: true,
            hideVideoControlsOnPause: true,
            controlsTimeoutMouseEnter: 500,
            controlsTimeoutMouseLeave: 200,
            success: function(media, node, instance) {
               console.log('ready20')
               instance.setSrc('small.mp4')
               instance.play()
            }//suc
         })//play
         $('#vvid2').hoverIntent(function(e){
            console.log(21)
            player2.setCurrentTime(0)
            player2.play()
         }, function(e){
            console.log(20)
            player2.pause()
         })

      }//()
