boa-tag

    form

      <yield />

         button(type='submit', onclick='!{"{getSub}"}') Check Subtraction!

    p.num { num }


    script.
        // sum
        getSum(e) {
            e.preventDefault();
            let arg1 = $('input:first-of-type', this.root).val();
            let arg2 = $('input:last-of-type', this.root).val();
 
            this.update({num: +arg1+ +arg2});
        }

        // subtraction
        getSub(e) {
            e.preventDefault();
            let arg1 = $('input:first-of-type', this.root).val();
            let arg2 = $('input:last-of-type', this.root).val();
  
            this.update({num: +arg1 - +arg2});
        }