boa-tag

    p.num { num }

    form
        input(type='number', placeholder='Enter any number')
        input(type='number', placeholder='Enter any number')
    <yield />

    script.
        // sum
        getSum(e) {
            e.preventDefault();
            let arg1 = $('input:first-of-type', this.root).val();
            let arg2 = $('input:last-of-type', this.root).val();
            this.doSomething(arg1, arg2);
        }
        doSomething(arg1, arg2) {
            this.update({num: +arg1+ +arg2});
        }

        // subtraction
        getSub(e) {
            e.preventDefault();
            let arg1 = $('input:first-of-type', this.root).val();
            let arg2 = $('input:last-of-type', this.root).val();
            this.doSomething2(arg1, arg2);
        }
        doSomething2(arg1, arg2) {
            this.update({num: +arg1 - +arg2});
        }