boa-tag

    p.num { num }

    form
        input(type='number', placeholder='Enter any number', ref='one')
        input(type='number', placeholder='Enter any number', ref='two')
        button(type='submit', onclick="{getSum}") Check sum!
    <yield />

    script.
        getSum(e) {
            e.preventDefault();
            let arg1 = this.refs.one.value;
            let arg2 = this.refs.two.value;
            this.doSomething(arg1, arg2);
        }

        doSomething(arg1, arg2) {
            this.update({num: +arg1+ +arg2});
        }