boa-tag

    form

        <yield />
        .h-row
            button(type='submit', onclick='{init}') {opts.text}
            p.num { num }

    script.
        let type = opts.type;

        init(e) {
            e.preventDefault();

            if (type === 'sum') {
                // sum
                let arg1 = $('input:first-of-type', this.root).val();
                let arg2 = $('input:last-of-type', this.root).val();
    
                this.update({num: +arg1+ +arg2});
            } else {
                // subtraction
                let arg1 = $('input:first-of-type', this.root).val();
                let arg2 = $('input:last-of-type', this.root).val();
    
                this.update({num: +arg1 - +arg2});
            }
        }
