doctype html
html(lang='en')
   head
      //- Required meta tags
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='title', content='Upload File')

      script(src='//unpkg.laska.io/axios@0.19.0-beta.1/dist/axios.min.js')
      script(src='./assets/js/service.js')
      script(src='//cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.slim.min.js')
   body
      h1 File Upload
      form(action='upload', method="post", encType="multipart/form-data")#file-upload.dropzone
         | Select file:
         input(type='file', name='sampleFile', multiple='', id="file-upload-input")
         input(type='submit')

      script.
         let service = new Service()


         $('#file-upload').on('submit', function(ev){
            ev.preventDefault()

            let input = $('#file-upload-input')[0].files[0]
            service.uploadFile(input)
         })

      style.
         .dropzone {
            border: 1px solid #d2d1d1;
            padding: 16px;
            border-radius: 4px;
         }