doctype html
html
  head
    title Liz Kis Riot Flipcard
    link(rel='stylesheet', href='/css/style.css')

  body
    .container
      .row
        .col(style='width:100px')
          liz-flipcard(style='width:100px;height:200px;display:none')
            .front
              h4 Spin Me!
              button(onclick='{toggle}') Flip
            .back
              h4 I'm Dizzy
              button(onclick='{toggle}') Back
        .col(style='width:210px;height:200px')
          liz-flipcard(style='width:210px;height:200px;display:none')
            .front(onmouseenter='{toggle}')
              h4 Spin Me!
            .back(onmouseleave='{toggle}')
              h4 I'm Dizzy
      .row
        liz-flipcard(direction='y', style='width:315px;height:125px;display:none')
          .front
            h2 Flip Vertical
            button(onclick='{toggle}') Flip
          .back(style='background:#a40')
            h2 I'm Flipped
            button(onclick='{toggle}') Back
      .row
        liz-flipcard(direction='xy', style='width:315px;height:315px;display:none')
          .front
            h1 Flip Diagonal
            button(onclick='{toggle}') Flip
          .back(style='background:#078;padding:0')
            img(onclick='{toggle}', src='https://placekitten.com/315/315')

    script(src='https://cdn.jsdelivr.net/npm/riot@3.13.2/riot.min.js')
    script(src='/tag/flip-tag.min.js')
    flip-tag
    script.
      let flipTag = riot.mount('liz-flipcard')[0];