r-pan
	.navbar
		.navbar-inner
			.block.panel-close.f7-icons arrow_left
			.title { title }
	.page-content 
		#story.block

	script.

		this.on('mount', function(){
			Logger.log('r-pan mount')	
		})

		var thiz = this
		story.on('change', function( updates ){
			var item = story.getState().store
			Logger.log( Object.keys(item) )
			Logger.log( item.title )

			thiz.title = item.title
			var st = document.getElementById('story')
			st.innerHTML=item.content

			thiz.update()
		})

	style. 
		#story {
			margin-top: -46px;
		}
