head
   script(src='//cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.slim.min.js')
   script(src='/src/jquery.quicksilver.js')
   script(src='/src/jquery.simpleFAQ.js')
body

   ul#faqs
      li
         //- Note that you MUST have the "question", "answer", and "tags" classes on these nodes
         p.question This is a question?
         .answer This is the answer.
         p.tags tags, help, searching
 
   script.
      $('#faqs').simpleFAQ({
         slideSpeed: 100
         }
      )

   link(rel='stylesheet', href='/src/jquery.simpleFAQ.css')

