doctype html
html(lang='en')
   head
      //- Required meta tags
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='title', content='Upload File')

      link(rel='stylesheet', href= '//cdn.jsdelivr.net/npm/uppy@1.4.0/dist/uppy.min.css')

      script(src='//cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.slim.min.js')
      script(src='//cdn.jsdelivr.net/npm/uppy@1.4.0/dist/uppy.min.js')
   body
      h1 File Upload
      .js-file-upload

      script.

         initUpload();

         function initUpload() {
            console.log('initUpload')
            const uppy = Uppy.Core({
                     debug: true,
                     autoProceed: false,
                     restrictions: {
                        maxFileSize: 1000000,
                        maxNumberOfFiles: 10,
                        minNumberOfFiles: 1,
                        allowedFileTypes: ['image/*', 'video/*']
                     }
               })
               .use(Uppy.Dashboard, {
                     inline: true,
                     target: '.js-file-upload',
                     metaFields: [
                        { id: 'name', name: 'Name', placeholder: 'file name' },
                        { id: 'caption', name: 'Caption', placeholder: 'describe what the image is about' }
                     ],
                     browserBackButtonClose: true
               })
               .use(Uppy.XHRUpload, { 
                     endpoint: 'http://localhost:3001/upload',
                     formData: true,
                     fieldName: 'sampleFile'
               });

            uppy.on('complete', (result) => {
               console.log('Upload complete! Files uploaded:', result.successful)
            })
         }