extends  ../../_part/_baseShell

block head
	include ../../_part/_header

block main
	.mui-container-fluid

		home-card(ref='/post/app-shell/', img='/post/SPA/shell.png', headline='App-Shell')

		home-card(ref='/post/asites/', img='/post/asites/arc.jpg', headline='Sites I like')

		home-card(ref='/post/comp/', img='/post/comp/compEx.png', headline='Web Components')

		home-card(ref='/post/seo/', img='/post/seo/setup.png', headline='SEO')

		home-card(ref='/post/SPA/', img='/post/SPA/SPA.png', headline='SPA')

		home-card(ref='/post/useAd/', img='/post/useAd/chick.png', headline='Ad')

		home-card(ref='/post/amp/', img='/post/amp/amp.jpg', headline='AMP')


	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.info('home-card')
			TW.loadComp('/_webComp/home-card.html', $('#comps'), UIComp1Init)
		}

		function UIComp1Init() {
			console.info('.')
			var xx = TW.registerCustomElement ('home-card', HomeCard)
			//console.info(xx)
		}

block footer
	include ../../_part/_footer
