doctype html
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
title Bookmarks
h1 Bookmarks Menu

h3 1
dl
 
	a(href='https://blog.dashburst.com/best-web-design-development-blogs/') 101 Best Web Design and Development Blogs
	p 
	a(href='https://www.behance.net/gallery/47810259/2017-Design-Trends-Guide') 2017 Design Trends Guide on Behance
	a(href='https://uxplanet.org/the-ultimate-ux-design-reading-list-db767977c855#.avfvpgjul') A comprehensive reading list for young designers
	a(href='https://affinity.serif.com/en-gb/') Affinity - Professional creative software
	a(href='https://thefwa.com/') Awards - The FWA
	a(href='https://www.awwwards.com/blog/') Awwwards Blog - For Web Designers and Developers
	a(href='http://codepen.io/GreenSock/pen/FnsqC') Burger Boy Finished  TimelineMax page
	a(href='https://tympanus.net/codrops/') Codrops  Useful resources and inspiration for creative minds
	a(href='https://dzone.com/refcardz/corecss2') Core CSS Part II - Dzone Refcardz
	a(href='https://www.sitepoint.com/web-foundations/css-selectors/') CSS Selectors — SitePoint
	a(href='https://css-tricks.com/') CSS-Tricks
	a(href='https://css-tricks.com/debugging-tips-tricks/') Debugging Tips and Tricks  CSS-Tricks
	a(href='https://docs.microsoft.com/en-us/microsoft-edge/dev-guide/css') Dev guide - CSS - Microsoft Edge Development  Microsoft Docs
	a(href='https://blisk.io/') Download Blisk - a browser for web developers
	a(href='http://www.goodui.org/') GoodUI
	a(href='http://www.barelyfitz.com/screencast/html-training/css/positioning/') Learn CSS Positioning in Ten Steps position static relative absolute float
	a(href='https://bitsofco.de/linting-html-using-css/') Linting HTML using CSS
	a(href='https://www.smashingmagazine.com/2016/12/mistakes-developers-make-when-learning-design/') Mistakes Developers Make When Learning Design 
	a(href='http://mochajs.org/') Mocha - the fun, simple, flexible JavaScript test framework
	a(href='https://uxplanet.org/popular-web-animation-techniques-a6a467309028#.h76mo9bdd') Popular Web Animation Techniques – UX Planet
	a(href='https://tallys.github.io/color-theory/') Practical Color Theory for People Who Code
	a(href='http://appimagegenerator-pre.azurewebsites.net/') PWABuilder
	a(href='https://uxplanet.org/review-of-popular-design-trends-for-interfaces-in-2016-f09bb0711ee7#.nti4ega9i') Review of Popular Design Trends for Interfaces in 2016
	a(href='https://www.w3.org/TR/selectors/#combinators') Selectors Level 3
	a(href='https://medium.muz.li/the-evolution-of-ui-design-on-dribbble-732de40a30e6?gi=e73ed34a2ef3#.tdvk8qk4c') The Evolution of UI Design on Dribbble
	a(href='http://westciv.com/tools/3Dtransforms/index.html') Transforms
	a(href='https://tympanus.net/codrops/2013/07/17/troubleshooting-css/?utm_content=buffer2f836&utm_source=buffer') Troubleshooting CSS
	a(href='https://material.io/guidelines/style/typography.html#typography-styles') Typography - Style - Material design guidelines
	a(href='http://alexgoff.net/web-type/') Typography Demo
	a(href='https://webdesign.tutsplus.com/articles/understanding-the-f-layout-in-web-design--webdesign-687') Understanding the F-Layout in Web Design
	a(href='https://www.awwwards.com/web-design-trends-for-2017.html') Web Design Trends for 2017
	a(href='https://www.uxpin.com/studio/blog/web-layout-best-practices-12-timeless-ui-patterns-explained/') Web Layout Best Practices 12 Timeless UI Patterns Analyzed
	a(href='http://goggles.wedze.com/en') Wed'ze goggles simulator
	a(href='http://practicaluxmethods.com/') Welcome to Practical UX Methods A Guide to UX Design, Research, Planning Techniques
	a(href='http://blog.invisionapp.com/developers-should-learn-design/') Why developers should learn design - InVision Blog
	a(href='https://developer.yahoo.com/ypatterns/') Yahoo Design Pattern Library
	a(href='http://overapi.com/css') CSS Cheat Sheet | OverAPI.com
	a(href='https://www.sitepoint.com/web-foundations/css-selectors/') CSS Selectors — SitePoint
	a(href='http://cuberto.com/') Cuberto — Interactive Design Studio
p

h3 img
dl
	a(href='http://cloudinary.com/addons') Cloudinary - Add-ons
	a(href='https://www.pond5.com/photos/1/creative.html') Creative Stock Photos  Images ~ Royalty Free Images  Pond5
	a(href='http://www.stumbleupon.com/su/20WOrM/:1WC_kpAkz:Tj@5ZasB/techsplurge.com/3938/goodbye-animated-gifs-say-hello-to-cinemagraphs') Goodbye GIFs, Say Hello to Cinemagraphs
	a(href='https://www.graphicstock.com/') GraphicStock.com
	a(href='http://luis-almeida.github.io/unveil/') jQuery Unveil - A very lightweight plugin to lazy load images
	a(href='http://www.kubikfoto.de/') Kubikfoto³ - Interactive Studio
	a(href='http://lenticular.attasi.com/') lenticular.js - tilt-controlled images
	a(href='https://www.pexels.com/search/people/') Pictures of people · Pexels · Free Stock Photos
	a(href='https://www.imgix.com/pricing') Pricing • imgix • Real-time image processing and image CDN
	a(href='http://depositphotos.com/') Stock Photos, Royalty Free Images, Vectors, Footage  Depositphotos
	a(href='https://unsplash.com/') Unsplash  Free High-Resolution Photos
	a(href='https://www.videoblocks.com/video/young-woman-is-watching-melodrama-and-crying-g93rui6/') Stock Video Footage - VideoBlocks
