doctype html
metp 
a(http-equiv='Content-Type', content='text/html; charset=UTF-8')
title Bookmarks
h1 Bookmarks Menu

h3 2
dl
	p 
a(href='http://phraseapp.com/blog/posts/10-jquery-i18n-features/') 10 Things About jQuery i18n You May Not Have Known
	p 
	p 
a(href='http://gonative.io/about') About
	p 

	p 
	p 
	p 
	p 
a(href='http://davidwalsh.name/chris-coyiers-favorite-pens') Chris Coyier's Favorite CodePen Demos
	p 
	p 
	p 
a(href='http://engineering.paiza.io/entry/2015/03/12/145216') Data binding code in 9 JavaScript frameworks - Paiza Engineering Blog
	p 
a(href='http://uxplanet.org/design-a-perfect-search-box-b6baaf9599c') Design a Perfect Search Box
	p 
a(href='http://github.com/dixonandmoe/rellax') dixonandmoerellax Lightweight, vanilla javascript parallax library
	p 
a(href='http://mmikowski.github.io/no-frameworks/') Do you really want an SPA framework – Michael S. Mikowski – SPA (UIUXserver) architect and author
	p 
a(href='http://jeffcarp.github.io/frontend-hyperpolyglot/') Front-end Hyperpolyglot
	p 
a(href='http://github.com/ftlabs/ftcolumnflow') ftlabsftcolumnflow A polyfill that fixes the inadequacies of CSS column layouts
	p 
a(href='http://gabrielfaucon.com/#works') Gabriel Faucon - Make things happen
	p 
a(href='http://en.wikipedia.org/wiki/Hotelling%27s_law') Hotelling's law - Wikipedia
	p 
	p 
a(href='http://www.linkedin.com/pulse/how-make-story-your-core-message-john-jantsch') How to Make Story Your Core Message  John Jantsch  Pulse  LinkedIn
	p 
a(href='http://kyledavidgroup.com/blog/trust-me-four-things-your-professional-website-must-have-to-maintain-trust/') How to Make Your Professional Website Trustwory
	p 
a(href='http://htmlmuncher.com/') HTML Muncher
	p 
a(href='http://www.jqvmap.com/') jQuery Vector Maps - Resizable Scalable Vector Graphic (SVG) Maps for Modern Browsers
	p 
	p 
a(href='http://github.com/layerJS/layerJS') layerJSlayerJS layerJS Javascript UI composition framework
	p 
a(href='http://master-origin-layersnap.fgview.com/demo/') LayerSnap Demos
	p 
	p 
a(href='http://github.com/mmikowski/jquery.event.ue') mmikowskijquery.event.ue jQuery plugin to unify mouse and touch input
	p 
a(href='http://dzone.com/articles/moving-away-from-mvc') Moving Away From MVC - DZone Web Dev
	p 
	p 
a(href='http://www.nightmarejs.org/') Nightmare
	p 
	p 
a(href='http://alistapart.com/article/personality-in-design') Personality in Design · An A List Apart Article
	p 
a(href='http://keithclark.co.uk/articles/pure-css-parallax-websites/') Pure CSS Parallax Websites by Keith Clark
	p 
	p 
	p 
	p 
a(href='http://channel9.msdn.com/Blogs/semjs/semjs20160411rio') Riot.js by Mike Ward  Southeast Michigan JavaScript  Channel 9
	p 
a(href='http://developer.chrome.com/apps/chrome_apps_on_mobile') Run Chrome Apps on Mobile Using Apache Cordova - Google Chrome
	p 
	p 
	p 
a(href='http://www.stumbleupon.com/su/1ad47m/:7nS1ZaUo:c$IaOTZQ/aerogrammestudio.com/2013/03/07/pixars-22-rules-of-storytelling') StumbleUpon
	p 
a(href='http://envato.com/blog/art-subtlety-animating-media-content-website/') The Art of Subtlety In Animating Media Content For Your Website
	p 
a(href='http://techcrunch.com/2016/11/29/the-future-of-front-end-development-is-design') The future of front-end development is design  TechCrunch
	p 
a(href='http://codepen.io/2016/popular/pens/10/') Top Pens of 2016 on CodePen
	p 
a(href='http://tympanus.net/codrops/category/tutorials/') Tutorials Archives  Codrops
	p 
a(href='http://ucdc.therectangles.com/#what') User Centered Design Canvas — First UX tool combining user needs with business goals
	p 

a(href='http://vitomd.com/blog/coding/hello-riot-js-quick-tutorial-about-this-awesome-lib/') vitoMd  Hello Riot.jsquick tutorial about this awesome lib
	p 
a(href='http://www.infoq.com/articles/no-more-mvc-frameworks') Why I No Longer Use MVC Frameworks
p


h3 misc
dl
	p 
	p 
	p 
a(href='http://www.danielstjules.com/2014/08/03/basic-auth-with-express-4/') Basic Auth With Express 4 - Daniel St. Jules
	p 
	p 
a(href='http://csspeeper.com/') CSSPeeper - Smart CSS viewer tailored for Designers
	p 
	p 
	p 
a(href='http://stackoverflow.com/questions/36480283/is-it-possible-to-force-google-amp-html-pages-to-refresh')  force google amp html pages to refresh
	p 
a(href='http://discuss.reactjs.org/t/legal-department-did-not-allow-use-of-react/3309') Legal Department did not allow use of React - React Discuss
	p 
a(href='http://embed.plnkr.co/KvsA04RAEOMmkUYjlPaF/') Lesson 10c - Finally looks like actual Rain - Plunker
	p 
a(href='http://node.green/') Node.js ES2015ES6, ES2016 and ES2017 support
	p 
	p 
a(href='http://www.apixu.com/pricing.aspx') Pricing - Apixu Weather
	p
a(href='http://css-tricks.com/transparent-jpg-svg/') Transparent JPG (With SVG)  CSS-Tricks
	p 
	p 
	p 
a(href='http://developers.google.com/web/updates/2013/01/Voice-Driven-Web-Apps-Introduction-to-the-Web-Speech-API') Voice Driven Web Apps Introduction t
	p 
a(href='http://stories.jotform.com/how-to-use-css-animations-like-a-pro-dfacc1e97338?gi=71ee7e75a779#.rlbev44gr') How to Use CSS Animations Like a Pro
	p 
a(href='http://mekanism.com/') Ad Agency, Marketing Advertising Agency San Francisco, New York, Chicago | Mekanism
	p 
	p 
a(href='http://github.com/toddmotto/public-apis') toddmotto/public-apis: A collective list of public JSON APIs for use in web development.
	p 
	p 
a(href='http://labs.jensimmons.com/#clippath') Jen Simmons | Labs
	p 
a(href='http://codepen.io/2016/popular/pens/10/') Top Pens of 2016 on CodePen
	p 
a(href='http://wiki.apache.org/struts/StrutsBooks') StrutsBooks - Struts Wiki
	p 
