template#xlist-el
	style.
		li { color: orange; }
	//p I'm Shady
	#myList

script#Lst1Tpl(type='text/x-dot-template').
	{{~it.array :value:index}}
		<li><a href={{=value.url}}> {{=value.head_line}}</a></li>
	{{~}}

script.
	//http://www.javascriptoo.com/dot-js
	console.log ('in temp list ') //- don't forget #comps
	var ListEl = Object.create(HTMLElement.prototype)
	ListEl.createdCallback = function() {
		ListEl._shadow = TW.attachShadow(this, '#xlist-el')
		}//()

	ListEl.init = function(values) {
		console.info('init')
		var tpl1 = document.getElementById('Lst1Tpl').text
		var data2 = {'array': values}

		var tpl1Foo = doT.template(tpl1)
		var res = tpl1Foo(data2)

		//console.info(res)

		var lst = ListEl._shadow.querySelector('#myList')//ctx
		lst.innerHTML=res

		$("#myList", ListEl._shadow ).append("<span id='list-ready'></span>")// MAGIC!!
	}//()
	

		/*
		set receiver(stream) {
			this._rec = stream
			//flyd.on(_handleRec, stream)
		}
		_handleRec(el) {
			console.info(el)
		}
		get emitter() {
			return this._emit
		}
		*/
