doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{title}
        script(src=ROOT + 'lib/jquery/jquery.min.js')
        script(src=ROOT + 'app.js')

        style.
            h1 {
                font-size: 12px;
            }
            h1, button {
                white-space: nowrap;
                text-align: center;
            }
            button {
                padding: 5px 10px;
                border: 0; 
                border-radius: 4px;
                background: #1b98f8;
                outline: none;
                color: #fff;
                transition: all .2s ease-in-out;
                cursor: pointer;
            }
            button:hover {
                background: #006ec3;
            }
            button[disabled] {
                background: rgba(0,0,0,.2);
                cursor: default;
            }

    body
        h1 WebAdmin
        button(id='check', type='button', disabled) Edit site content