extends  ../../_part/_baseShellS

block head
	include ../../_part/_headerS

block top
	include ../../_part/_topS

block main
	.mui-container-fluid
		p
		.mui-panel
			.mui-row
				.mui-col-sm-1
				.mui-col-sm-2 March 3rd
				.mui-col-sm-2 New York City
				.mui-col-sm-3 Best Practices + Polymer v2
				.mui-col-sm-1
					a(href='http://eventbrite.com/e/best-practices-and-polymer-tickets-32032651523')
						button.mui-btn.mui-btn--raised.mui-btn--small.mui-btn--primary Tickets
				.mui-col-sm-1

	script.
		function init() {
		}

		onAppReady(init)

block footer
	include ../../_part/_footerS
