extends  ../../_part/_baseShellA
block head

block main

	.mui-container-fluid
		include story1.html

	style.
		img {
			width: 99%;
		}

	script.
		preLImg(
			'/post/vwall/players.png'
		)
block footer
	include  ../../_part/_footer
