extends  ../../_parts/_baseShell

block head
	include ../../_parts/_header

block top
	include ../../_parts/_top

block main
	.mui-container-fluid
		p
		.mui-row
			.mui-col-md-1
			.mui-col-md-6
				br
				.mui--text-display3 Best Practices + Custom Elements Workshop
				.mui--text-display1 for designers and experienced developers
			.mui-col-md-3
				img.img40(src='/train/bestWComps/riot.png')
			.mui-col-md-2
		hr
		p
		.mui-row
			.mui-col-sm-6
			.mui-col-sm-2
				a(href='https://www.masons-foundation.org/train/schedule/').mui--text-right
					button.mui-btn.mui-btn--raised.mui-btn--large.mui-btn--primary Tickets
			.mui-col-sm-6
		hr
		p

		article
			include one.html
		p
		.mui-panel
			include two.html
		p
	script.
		function init() {
		}
		onAppReady(init)

block footer
	include ../../_parts/_footer