extends  ../../_parts/_baseShellA

block head
	include ../../_parts/_headerA

	link(rel='canonical', href='https://www.masons-foundation.org/train/bestWComps/')

block top
	include ../../_parts/_topA

block main
	.mui-container-fluid
		p
		.mui-row
			.mui-col-md-1
			.mui-col-md-6
				br
				.mui--text-display3 Best Practices + Custom Elements Workshop
				.mui--text-display1 for designers and experienced developers
			.mui-col-md-3
				amp-img(src='/train/bestWComps/riot.png', layout='responsive', width='920', height='640' )
			.mui-col-md-2
		hr
		p
		.mui-row
			.mui-col-sm-6
			.mui-col-sm-2
				a(href='https://www.masons-foundation.org/train/schedule/').mui--text-right
					button.mui-btn.mui-btn--raised.mui-btn--large.mui-btn--primary Tickets
			.mui-col-sm-6
		hr
		p

		article
			include one.html
		p
		.mui-panel
			include two.html

block footer
	include ../../_parts/_footerA
